*{
    margin: 0px;
    padding: 0px;
}

a{
    color: white;
    text-decoration: underline;
    font-family: Arial;
    transition: padding 0.3s;
}

a:hover{
    padding: 4px 4px;
    border-radius: 8px;
}

body{
    text-align: center;
    background-color: #D9CAB3;
    font-size: 1.15rem;
    color: #111827;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #5E0B15;
    width: 100%;
    padding: 12px 0px;
}

main{
    flex: 1;
    padding: 12px;
}

footer{
    background-color: #5E0B15;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
}

hr{
    border: none;
    border-top: 1px solid black;
    margin: 20px 0;
    padding: 0;
}

.link{
    padding: 0px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    color: #111827;
}    

.linkgithub{
    background-color: #D9CAB3;
    display: inline-flex;
    align-items: center;
    padding: 2px;
    border-radius: 6px;
    border: 1px solid rgb(150, 148, 148);
}

.linkgithub img{
    width: 35px;
    height: 35px;
    border-radius: 16px;
}

.w{
    color: white;
}

.pergunta{
    margin: 20px auto 10px;
    padding: 6px 12px;
    border-left: 4px solid #5E0B15;
    background-color: rgba(0,0,0,0.05);
    display: inline-block;
}

.top{
    margin-top: 8px;
}

.cima{
    padding: 8px;
}

.resp{
    margin: 5px;
    text-indent: 2px;
    padding: 8px;
}

.quadrado img{
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 9px;
    border: 1px solid black;
}

.quadrado video{
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 9px;
    margin-top: 12px;
    border: 1px solid black;
}

.quadrado-2 img{
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 9px;
    border: 1px solid black;
    margin-top: 8px;
}

.quadrado_wheatstone img{
    width: 90%;
    max-width: 300px;
    height: auto;
    border-radius: 9px;
    border: 1px solid black;
    background-color: white;
}

.junto{
    padding: 0px;
    margin-top: 0px;
}